#page-contact{
	.section-contact{
		min-height: 500px;
		height: auto;
		.contact-tabs{
			.tabs {
				position: relative;
				margin-top: 45px;
				.tab{
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
					transition: opacity .5s,visibility .5s;
					&.active{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.intro-contact{
			width: 400px;
			margin: 30px 0 30px;
			font-size: 14px;
		}

		.flex-wrapper{
			position: relative;
			top: -100px;
		}
	}
	.form-submit{
		text-align: right;
		button{
			background: linear-gradient(to right,#159baf 0,#0062ae 100%);
			color: #fff;
			font-size: 9px;
			padding: 20px 0;
			background-size: 300% 100%;
			letter-spacing: 3px;
			transition: all .4s ease-in-out;
			padding: 24px 36px;
			border-radius: 40px;
			text-transform: uppercase;
			&:hover{
				background-position: 100% 0%;
				transition: all .4s ease-in-out;

			}
		}
	}
}

.navigation{
	
	ul{
		display: grid;
		grid-template-columns: repeat(2,262px);
		grid-template-rows: 74px 61px auto;
		text-align: center;
		grid-row-gap: 0px;
		grid-column-gap: 25px;
		li{
			&.active{
				button{
					background: linear-gradient(to right, rgba(21,155,175,1) 0%,rgba(0,98,174,1) 100%);
					color:white;
				}
			}
		}
		button{
			color:color(tuatara);
			text-transform: uppercase;
			border:1px solid #159baf;
			font-weight: 700;
			font-size: 10px;
			width: 100%;
			padding: 20px;
			border-radius: 24px;
			transition:all 0.5s ease;

			&:hover{
				background: linear-gradient(to left, rgba(21,155,175,1) 0%,rgba(0,98,174,1) 100%);
				color:white;
			}
		}
	}
}

