

.cta{
	background: #25d366;
	position: fixed;
	right: 40px;
	top: 40px;
	z-index: 9;
	border-radius: 120px;
	padding: 15px;
	transition:all 0.6s ease;
	
}

// Geral empreendimentos - Home & Interna

.container_build-itens {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 70px;
	.builds {
		position: relative;
		z-index: 2;
		.cover-link{
			z-index: 999;
		}
		.build-hover{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition:all 0.9s ease;
			.btn-clean{
				letter-spacing: 1px;
				opacity: 0;
				position: absolute;
				bottom: 30px;
				left: 80px;
				padding: 28px 70px 28px 40px;
				svg{
					transform: translate(-30%,-50%);
					top: 50%;
					z-index: 9;
				}
			}
		}
		&:hover{

			.build-hover, .btn-clean{
				opacity: 1;

			}
			.info-build{
				.btn-clean{
					opacity: 1;
				}
			}
		}
		.info-build{
			position: absolute;
			top: 50%;
			text-align: center;
			color:white;
			padding: 0 74px;
			left: 0;
			z-index: 9;
			transform: translate(-3%,-33%);
			.type{
				font-weight: 600;
				font-size: 10px;
				margin-bottom: 20px;
			}
			h1{
				font-weight: 300;
				font-size: 30px;
				letter-spacing: -2px;
				margin-bottom: 30px;
			}
			.building{
				border: 1px solid #fff;
				color: #fff;
				padding: 10px 12px;
				margin-bottom: 20px;
				font-weight: 500;
				letter-spacing: 1px
			}
			.location{
				font-size: 10px;
				font-weight: 500;
				margin-bottom: 20px;
				letter-spacing: 1px;
				background: url(../assets/images/icon_location.png) 22px no-repeat;
				padding: 10px;
			}

		}
	}
}


.section-empreendimento_interna{
	position: relative;
	margin-bottom: 170px;
	.empre_main-title{
		color: color(allports);
		letter-spacing: -2px;
		font-size: 72px;
		font-weight: 100;
		margin-top: 30px;
		background: linear-gradient(to top, #159baf 0%, #0063ae 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.container_build-itens{
		flex-wrap:wrap;
		.builds{
			margin-bottom: 60px;
		}
	}

	svg{
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-61%,-14%);
		z-index: -1;
	}
}



// Single empreendimento

.section-fotos {
	width: 100%;
	margin: 0;
	padding: 110px 0 130px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	background-color: white;

	.grd-fotos{
		position: absolute;
		right: 0;
		top: 0;
		width: 980px;
		height: 570px;
		background-image:linear-gradient(to top,#159baf 0,#0062ae 100%);
		clip-path: polygon(37px 0,100% 0,calc(100% - -1px) 100%,230px 100%,calc(100% - 578px) 0)
	}

		// Mobile
		@media (max-width: 1023px) {
			border-radius: 0px;
			margin: 0;
			padding: 20px 0 70px;
		}

		// Headline 
		.headline {
			width: 100%;
			margin: 0;
			padding: 0;

			// Desktop
			&-desktop {
				// Mobile
				@media (max-width: 1023px) {
					display: none;
				}
			}

			// Mobile
			&-mobile {
				// Mobile
				@media (min-width: 1024px) {
					display: none;
				}
			}

			svg {
				// Mobile
				@media (max-width: 1023px) {
					padding-top: 30px;
					height: 130px;
				}

				text {
					font-size: 190px;
					font-family: font(main);
					font-weight: 300;
					text-transform: uppercase;
					stroke: #e3e3e3;
					stroke-width: 2px;
					fill: none;
					stroke-dasharray: 600;
					stroke-dashoffset: 600;
					transition: all 5500ms;

					// Mobile
					@media (max-width: 1023px) {
						font-size: 90px;
						stroke-dashoffset: 0;
					}
					@media (max-width: 767px) {
						font-size: 45px;
					}
				}
			}

			&.appear {
				text {
					stroke-dashoffset: 0;
				}
			}
		}

		// Flex wrapper
		.flex-wrapper {
			width: 100%;
			margin: -65px 0 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 2;

			// Mobile
			@media (max-width: 1200px) {
				padding: 0 0 0 100px;
			}
			@media (max-width: 1023px) {
				margin: 0;
				padding: 0;
				flex-wrap: wrap;
			}

			// Navigation
			.navigation {
				margin: 0 130px 0 0;
				position: relative;
				z-index: 4;
				h1{
					letter-spacing: 0;
					font-size: 48px;
					color:color(allports);
					margin-bottom: 55px;
				}
				ul{
					display: inherit!important;
					text-align: left;
				}

				// Mobile
				@media (min-width: 1024px) {
					transform: translateY(5px);
					opacity: 0;
					visibility: hidden;
					transition: all 500ms;
				}
				@media (max-width: 1023px) {
					width: 100%;
					margin: 0 0 40px;
				}

				// & class appear
				&.appear {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}

				.nav-fotos-mobile {
					width: 100%;
					margin: 0;
					padding: 0;
					position: relative;
					z-index: 4;

					@media (min-width: 1024px){
						display: none;
					}

					// Select
					.select {
						width: 100%;
						margin: 0;
						padding: 15px;
						border:1px solid #e3e3e3;
						background-image: url('../images/bg-select.png');
						background-repeat: no-repeat;
						background-position: calc(100% - 15px) center;
						

						// Span
						span {
							font-size: 16px;
							font-weight: normal;
							color: blue;
							margin: 0;
							padding: 0;
						}
					}

					// Dropdown
					.drop {
						width: 100%;
						margin: 0;
						padding: 0;
						position: absolute;
						top: 140%;
						left: 0;
						z-index: 10;
						background-color: blue;
						opacity: 0;
						visibility: hidden;
						pointer-events: none;
						transition:all 300ms;

						// List
						ul {
							width: 100%;
							margin: 0;
							padding: 10px 0;
							background-color: blue;
							li {
								width: 100%;
								margin: 0;
								padding: 10px 0;
								display: block;
								text-align: center;

								// Span
								span {
									width: 100%;
									margin: 0;
									padding: 0;
									display: block;
									font-size: 16px;
									font-weight: normal;
									color: white;
								}
							}
						}

						// Active item
						&.active {
							top: 100%;
							opacity: 1;
							visibility: visible;
							pointer-events: unset;
						}
					}
				}

				ul.desktop {
					width: 100%;
					margin: 0;
					padding: 0;
					
					@media (max-width: 1023px) {
						display: none;
					}

					li {
						width: 100%;
						margin: 0 0 30px;
						padding: 0;
						display: block;
						cursor: pointer;
						text-align: left;

						// Mobile
						@media (max-width: 1023px) {
							text-align: center;
						}

						&:last-child {
							margin: 0;
						}
						
						span {
							font-size: 14px;
							font-weight: 600;
							color: #cecece;
							text-transform: uppercase;
							margin: 0;
							padding: 0;
							transition: all 500ms;
							letter-spacing: 2px;

						}

						// Active and hover
						&.active,
						&:hover {
							span {
								color: color(meadow);
							}
						}
					}
				}
			}

			// Wrapper
			.wrapper {
				width: 545px;
				margin: 0;
				padding: 0;
				position: relative;

				// Mobile
				@media (min-width: 1024px) {
					transform: translateY(5px);
					opacity: 0;
					visibility: hidden;
					transition: all 500ms;
				}
				@media (max-width: 1023px) {
					width: 100%;
				}

				// & class appear
				&.appear {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}

				// Fullscreen
				.fullscreen {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					position: relative;
					margin-bottom: 15px;

					// Mobile
					@media (max-width: 767px) {
						display: none;
					}

					// Link
					.full {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 2;
					}

					// Svg
					svg {
						position: relative;
						top: -2px;
						margin-left: 10px;
						stroke: white;
					}
					
					// Span
					span {
						font-size: 10px;
						font-weight: 600;
						color: white;
						margin: 0;
						padding: 0;
						text-transform: uppercase;
						letter-spacing: 2px;
					}
				}

				// Slider
				.slider {
					width: 100%;
					margin: 0;
					padding: 0;
					
					// Item
					.item {
						width: 100%;
						margin: 0 0 0;
						padding: 0;


						// Img
						img {
							height: 405px;
							object-fit: cover;
							border-radius: 5px;

							// Mobile
							@media (max-width: 767px) {
								height: 290px;
							}
							@media (max-width: 400px) {
								height: 250px;
							}
						}

						// Title
						.title {
							font-size: 16px;
							font-weight: normal;
							color: blue;
							margin: 20px 0 0;
							padding: 0;
							text-transform: uppercase;
							text-align: center;
						}
					}
				}

				// Dots
				.owl-dots {
					position: absolute;
					bottom: -12px;
					left: 50%;
					transform: translateX(60%);
					display: flex;

					// Dot
					.owl-dot {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: rgba(255, 255, 255, 0.42);
						margin-right: 10px;
						transition: all 500ms;

						&:last-child {
							margin: 0;
						}

						// Active
						&.active {
							background-color: white;
						}
					}
				}
			}
			// Arrows
			.arrows {
				position: absolute;
				top:50%;
				right: 0%;
				z-index: 5;
				pointer-events: none;
				transform: translate(46% , -37%);

					// Arrow
					.arrow {
						pointer-events: initial;
						cursor: pointer;
						position: relative;
						opacity: 0.5;
						transition: all 500ms;
						margin-bottom: 30px;
						// Icon
						svg {
							path {
								fill: white;
							}
						}

						&-prev {
							transform: rotate(180deg) translateX(83%);

							svg:not(.icon) {
								transform: rotate(-180deg);
								path {
									// fill: transparent;
								}
							}

						}

						&-next{
							
						}

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}




		.section-video{

			margin-bottom: 200px;
			margin-top: 200px;
			.grad{
				position: absolute;
				left: 0;
				right: 0;
				top: inherit;
				bottom: 0;
				background-image: linear-gradient(to right,#159baf 0,#0062ae 100%);
				height: 340px;
			}

			.arrows {
				position: absolute;
				top:50%;
				z-index: 5;
				pointer-events: none;
				width: 100%;

					// Arrow
					.arrow {
						pointer-events: initial;
						cursor: pointer;
						position: relative;
						opacity: 0.5;
						transition: all 500ms;
						margin-bottom: 30px;
						// Icon
						svg {
							path {
								fill: white;
							}
						}

						&-prev {
							transform: rotate(180deg) translateX(83%);
							left: 15%;
							position: absolute;
							svg:not(.icon) {
								transform: rotate(-180deg);
								path {
									// fill: transparent;
								}
							}

						}

						&-next{
							right: 13%;
							position: absolute;
						}

						&:hover {
							opacity: 1;
						}
					}
				}

				.flex-wrapper .wrapper {
					width: 100%;
					margin: 32px 0 0 0;
					padding: 0;
					position: relative;
				}
				position: relative;
				
				.grd-fotos{
					left: 0;
					right: inherit;
					clip-path:polygon(37px 0,100% 0,69% 100%,0 100%,0% 0);
					width: 680px;

					position: absolute;
					height: 570px;
					background-image:linear-gradient(to top,#159baf 0,#0062ae 100%);


				}
				.slider{
					height: 400px;
				}
				.item{
					svg{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}
				.item img{
					display: block;
					height: 438px!important;
					height: auto;
					object-fit: cover;
				}



				.flex-wrapper .wrapper .slider .item {
					width: 772px;
					margin: 0 auto;
					padding: 0;
				}

				h1{
					letter-spacing: 0;
					font-size: 48px;
					color: #fff;
					margin-bottom: 55px;
					position: relative;
					z-index: 9;
					margin: 120px 0 0 159px;
				}

				.fullscreen{
					position: absolute;
					right: 154px;
					top: -14px;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 10px;
					svg{
						margin: 0 0 0 20px;
					}
					.full{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}


				// Dots
				.owl-dots {
					position: absolute;
					bottom: -12px;
					left: 50%;
					transform: translateX(-50%);
					display: flex;

					// Dot
					.owl-dot {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #c1c1c0;
						margin-right: 10px;
						transition: all 500ms;

						&:last-child {
							margin: 0;
						}

						// Active
						&.active {
							background-color: #2a2928;
						}
					}
				}

			}


			.flex-wrapper{
				.wrapper{
					.slider{
						.item {
							width: 100%;
							margin: 0;
							padding: 0;

							.box {
								width: 100%;
								height: 300px;
								position: relative;
								padding: 30px;
								img {
									width: 100%;
									height: 100%;
									-o-object-fit: contain;
									object-fit: contain;
									border-radius: 5px;
								}
							}
						}
					}
				}
			}




			.section-plantas{
				margin-bottom: 200px;
			// Arrows
			.arrows {
				position: absolute;
				top:50%;
				right: 0%;
				z-index: 5;
				pointer-events: none;
				transform: translate(46% , -37%);

					// Arrow
					.arrow {
						pointer-events: initial;
						cursor: pointer;
						position: relative;
						opacity: 0.5;
						transition: all 500ms;
						margin-bottom: 30px;
						// Icon
						svg {
							path {
								fill: white;
							}
						}

						&-prev {
							transform: rotate(180deg) translateX(83%);

							svg:not(.icon) {
								transform: rotate(-180deg);
								path {
									// fill: transparent;
								}
							}

						}

						&-next{
							
						}

						&:hover {
							opacity: 1;
						}
					}
				}

				.flex-wrapper{
					.wrapper {
						width: 100%;
						margin: 32px 0 0 0;
						padding: 0;
						position: relative;

						.slider{
							height: 400px;
							.item {
								width: 100%;
								margin: 0 0 0;
								padding: 0;

								img{
									display: block;
									height: 450px;
									height: auto;
									object-fit: cover;
								}
							}
						}

					}
				}
				position: relative;
				.grd-fotos{
					left: 0;
					right: inherit;
					clip-path:polygon(37px 0,100% 0,69% 100%,0 100%,0% 0);
					width: 680px;

					position: absolute;
					height: 570px;
					background-image:linear-gradient(to top,#159baf 0,#0062ae 100%);


				}


				h1{
					letter-spacing: 0;
					font-size: 48px;
					color: #fff;
					margin-bottom: 55px;
					position: relative;
					z-index: 9;
					margin: 120px 0 0 159px;
				}

				.fullscreen{
					position: absolute;
					right: 154px;
					top: -14px;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 10px;
					svg{
						margin: 0 0 0 20px;
					}
					.full{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}


				// Dots
				.owl-dots {
					position: absolute;
					bottom: -12px;
					left: 50%;
					transform: translateX(-50%);
					display: flex;

					// Dot
					.owl-dot {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #c1c1c0;
						margin-right: 10px;
						transition: all 500ms;

						&:last-child {
							margin: 0;
						}

						// Active
						&.active {
							background-color: #2a2928;
						}
					}
				}

			}


			.section-plantas .flex-wrapper .wrapper .slider .item {
				width: 100%;
				margin: 0;
				padding: 0;
			}

			.section-plantas .flex-wrapper .wrapper .slider .item .box {
				width: 100%;
				height: 300px;
				position: relative;
				padding: 30px;
			}

			.section-plantas .flex-wrapper .wrapper .slider .item .box img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 5px;
			}



			.page-empreendimento{
				margin-bottom: 200px;
				.section-evolucao{
					width:100%;
					.bar-content{
						margin-bottom: 20px;
						position: relative;
						span{
							text-transform: uppercase;
							font-weight: 700;
							display: block;
							margin-bottom: 15px;
							font-size: 12px;
						}
						.bar{
							position: relative;
							height: 4px;
							width: 100%;
							background: #e5e5e5;

							&:after{
								content: '';
								height: 4px;
								width: 50%;
								background: #0063af;
								position: absolute;
								top: 0;
								left: 0;
							}
						}

						.build_perc{
							position: absolute;
							right: 0;
							top: 0;
							font-weight: 600;
							font-size: 12px;
							color:color(allports);
						}
					}

				}
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao{
					background-image:unset;
					background-attachment:unset;
					background-color:#001c68;
					margin:0;
					padding:50px 0 100px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper{
				width:100%;
				margin:0;
				padding:0;
				display:flex
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper{
					flex-wrap:wrap
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left{
				width:460px;
				margin:0;
				padding:0
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .left{
					width:100%
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left>.content{
				width:100%;
				margin:0;
				padding:0;
				position:relative
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left>.content .title{
				letter-spacing: 0;
				font-size: 48px;
				color: #0063af;
				margin-bottom: 55px;
				position: relative;
				z-index: 9;

			}
			@media(min-width:1024px){
				.page-empreendimento .section-evolucao .flex-wrapper .left>.content .title{
					transform:translateY(5px);
					opacity:0;
					visibility:hidden;
					transition:all 1s
				}
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .left>.content .title{
					font-size:21px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left>.content .title.appear{
				transform:translateY(0);
				opacity:1;
				visibility:visible
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps{

			}
			@media(max-width:1279px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps{
					grid-column-gap:10px
				}
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps{
					margin-top:40px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step{
				width:132px;
				height:132px;
				margin:0 auto;
				padding:0;
				display:inline-flex;
				align-items:center;
				justify-content:center;
				border:2px solid rgba(255,255,255,.5);
				border-radius:50%;
				position:relative
			}
			@media(max-width:767px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step{
					width:92.4px;
					height:92.4px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step svg{
				position:absolute;
				top:-6px;
				left:-1px;
				right:0;
				bottom:0;
				padding:0;
				transform:rotate(-90deg) scale(1.1)
			}
			@media(max-width:767px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step svg{
					top:-25.5px;
					left:-21px;
					transform:rotate(-90deg) scale(.75)
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step svg circle{
				stroke:#0cf;
				stroke-width:2px;
				fill:#0cf;
				fill-opacity:0;
				stroke-dasharray:376.8;
				stroke-dashoffset:376.8;
				-webkit-transition:all 1s ease;
				transition:all 1s ease
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step .content{
				width:100%;
				margin:0;
				padding:0;
				text-align:center
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step .content .title{
				width:100%;
				margin:0;
				padding:0;
				font-size:14px;
				font-weight:500;
				color:#fff;
				text-align:center;
				text-transform:uppercase
			}
			@media(max-width:767px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step .content .title{
					font-size:12px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step .content .count{
				width:100%;
				margin:5px 0 0;
				padding:0;
				font-size:24px;
				color:#fff;
				font-weight:500;
				text-align:center
			}
			@media(max-width:767px){
				.page-empreendimento .section-evolucao .flex-wrapper .left .steps .step .content .count{
					font-size:18px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper{
				width:467px;
				-ms-flex-negative:0;
				flex-shrink:0;
				margin:0 0 0 135px;
				padding:0;
				position:relative
			}
			@media(max-width:1200px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper{
					width:450px
				}
			}
			@media(min-width:1024px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper{
					-webkit-transform:translateY(5px);
					transform:translateY(5px);
					opacity:0;
					visibility:hidden;
					-webkit-transition:all 1s;
					transition:all 1s
				}
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper{
					width:100%;
					margin:50px 0 0
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper.appear{
				-webkit-transform:translateY(0);
				transform:translateY(0);
				opacity:1;
				visibility:visible
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen{
				width:100%;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-align:center;
				-ms-flex-align:center;
				align-items:center;
				-webkit-box-pack:end;
				-ms-flex-pack:end;
				justify-content:flex-end;
				position:relative;
				margin-bottom:15px
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen{
					display:none
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen .full{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				z-index:2
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen svg{
				position:relative;
				top:-2px;
				margin-left:10px
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen svg path{
				fill:color(tuatara);
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .fullscreen span{
				font-size:12px;
				font-weight:400;
				color:color(tuatara);
				margin:0;
				padding:0;
				text-transform:uppercase;
				font-weight: 600;
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider{
				width:100%;
				margin:0;
				padding:0
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item{
				width:100%;
				margin:0;
				padding:0
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item img{
				height:353px;
				-o-object-fit:cover;
				object-fit:cover;
				border-radius:5px
			}
			@media(max-width:1200px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item img{
					height:350px
				}
			}
			@media(max-width:1023px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item img{
					height:290px
				}
			}
			@media(max-width:400px){
				.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item img{
					height:250px
				}
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .slider .item .title{
				font-size:16px;
				font-weight:400;
				color:#fff;
				margin:20px 0 0;
				padding:0;
				text-transform:uppercase;
				text-align:center
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .owl-dots{
				position:absolute;
				bottom:-30px;
				left:50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				display:flex
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .owl-dots .owl-dot{
				width:8px;
				height:8px;
				border-radius:50%;
				background-color:#b1b9d1;
				margin-right:10px;
				-webkit-transition:all .5s;
				transition:all .5s
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .owl-dots .owl-dot:last-child{
				margin:0
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .owl-dots .owl-dot.active{
				background-color:#2a2928
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows{
				position:absolute;
				bottom:-37px;
				left:50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				z-index:5;
				pointer-events:none;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-align:center;
				-ms-flex-align:center;
				align-items:center;
				-webkit-box-pack:justify;
				-ms-flex-pack:justify;
				justify-content:space-between
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow{
				pointer-events:initial;
				cursor:pointer;
				position:relative;
				opacity:.5;
				-webkit-transition:all .5s;
				transition:all .5s
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow svg path{
				fill:#fff
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow-prev{
				-webkit-transform:rotate(180deg) translateY(4px);
				transform:rotate(180deg) translateY(4px)
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow-prev svg:not(.icon){
				-webkit-transform:rotate(-180deg);
				transform:rotate(-180deg)
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow-prev svg:not(.icon) path{
				fill:transparent
			}
			.page-empreendimento .section-evolucao .flex-wrapper .wrapper .arrows .arrow:hover{
				opacity:1
			}



			.banner_empreendimento{
				height: 900px;

				.container_banner{

					display: flex;
					justify-content: space-between;
					align-items: center;

					.block_left-slider{
						background: #036cae;
						color: #fff;
						height: 900px;
						width: calc(100vw - 470px);
						clip-path: polygon(0 0,95% 0,65% 96%,0 96%);
						z-index: 2;
						&:before{
							content: "";
							width: 100%;
							position: absolute;
							bottom: -300px;
							left: 0;
							background: linear-gradient(to bottom,rgba(0,98,174,.11) 0,#159baf 100%);
							height: 900px;
						}
					}
					.block_right-slider_bg{
						background: color(tuatara);
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						height: 685px;
						width: 558px;
						z-index: 1;
						&:before{

						}
					}
					.block-content{
						color: #fff;
						position: absolute;
						left: 50%;
						transform: translate(-107%,-27%);
						top: 50%;
						z-index: 9;
						.last-units{
							text-transform: uppercase;
							font-weight: 700;
							text-decoration: underline;
							font-size:12px;
						}
						h1{
							font-size: 72px;
							letter-spacing: -4px;
							font-weight: 100;
							margin-top: 34px;
							margin-bottom: 40px;
							margin-left: -8px;
						}
						.resume-unit{
							font-family: 'Graphik';
							width: 364px;
							font-weight: 200;
						}
					}

					.block_right-slider{
						position: absolute;
						left: 50%;
						top: -2px;
						height: 767px;
						overflow: hidden;
						clip-path: polygon(20% 0,100% 0,100% 100%,0 100%);
						z-index: 3;
						transform:translateX(-12%);
					}
					.block-image{
						height: 767px;
						width: 554px;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}

				.box_form{

					position: absolute;
					right: 100px;
					top: 220px;
					z-index: 4;
					width: 272px;

					.title_box{
						background-image: linear-gradient(to right, #159baf 0% , #0062ae  100%);
						color:white;
						font-weight: 400;
						font-size: 16px;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						text-align: center;
						padding: 20px 26px;
						line-height: 20px;
						letter-spacing: 1px;
					}
					.box-content{
						background: white;
						padding: 36px 20px;
						border-bottom-right-radius: 5px;
						border-bottom-left-radius: 5px;

						.form-submit{
							margin-left: 25px;
							button{
								padding:25px;
								background: linear-gradient(to right,#eaa500 0,#ed581d 100%);
								border-radius: 120px;
								font-size: 9px;
								text-transform: uppercase;
								font-weight: 600;
								letter-spacing: 2px;
							}
						}
					}

					.field-group{
						border-bottom:1px solid #cccccc;
					}

				}
			}



			.section-local{

				position: relative;
				padding: 100px 0 100px 0;
				width: 100%;

				.background {
					position: absolute;
					top: -217px;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
				}

				h1{
					font-size:48px;
					font-weight: 100;
					color:color(allports);
					letter-spacing: -3px;
					width: 100%;
					margin-bottom: 20px;
				}
				h2{
					display: block;
					clear: both;
					font-family: 'Graphik';
					font-size: 14px;
					font-weight: normal;
					letter-spacing: 0;
				}
				.slider{
					margin-top: 80px;
					width: 102%;
					.slick-slide > div{
						margin:0 10px;
					}
					.box-local{

						position: relative;

						height: 257px;
						// width: 271px;
						// padding: 100px 23px 0 49px;
						border-radius: 10px;
						display: flex!important;
						align-content: center;

						.icon_local {
							margin-bottom: 20px;
						}
						.content-local{
							position: relative;
							z-index: 2;
							color:gray;
							font-family: 'Graphik';
							font-size: 14px;
							font-weight: normal;
							text-align:center;
							line-height: 18px;
							padding: 12vh 40px 0;
							svg{
								path{
									fill: color(allports);
								}
							}
						}

						.grad{

							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							&:after{
								// transform: skew(-15deg);
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								right: 0;
								bottom: 0;
								border: 1px solid color(allports);
								border-radius: 10px;
								z-index: 0;

							}

						}

						&:hover{

							.grad{
								&:after{
									// transform: skew(-15deg);
									content: '';
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									border: 1px solid color(allports);
									border-radius: 10px;
									background-image: linear-gradient(to top, #159baf 0% , #0062ae  100%);

								}
							}
							.content-local{
								color:white;

								svg{
									fill: white;
									path{
										fill: white;
									}
								}
							}
						}
					}
					.slick-prev{
						background: url(../assets/images/empreendimentos/arrow_local.png) 0 no-repeat;
						text-indent: -9999999px;
						width: 49px;
						height: 30px;
						position: absolute;
						right: -80px;
						top: 40%;
					}
					.slick-next{
						background: url(../assets/images/empreendimentos/arrow_local.png) 0 no-repeat;
						text-indent: -9999999px;
						width: 49px;
						height: 30px;
						position: absolute;
						left: -100px;
						top: 40%;
						transform: rotate(180deg);
						font-size: 0;
					}
				}

				.slick-dots {
					position: absolute;
					bottom: -25px;
					display: block;
					width: 100%;
					padding: 0;
					margin: 0;
					list-style: none;
					text-align: center;
					li {
						position: relative;
						display: inline-block;
						width: 10px;
						height: 10px;
						margin: 0 5px;
						padding: 0;
						cursor: pointer;
						border-radius: 20px;
						button {
							font-size: 0;
							line-height: 0;
							display: block;
							width: 10px;
							height: 10px;
							padding: 5px;
							cursor: pointer;
							color: transparent;
							border: 0;
							outline: none;
							background:#c0c0bf;
							border-radius: 20px;

							&:before {
								font-size: 6px;
								line-height: 20px;
								position: absolute;
								top: 0px;
								left: 0px;
								width: 10px;
								height: 10px;
								content: "";
								text-align: center;
								opacity: 0.25;
								color: black;
							}
						}

						&.slick-active{
							button{
								&:before{
									background: #2e2d2c;
									opacity: 1;
									border-radius: 20px;
								}
							}
						}
					}
				}
			}


			.section-contato{
				background:url(../assets/images/empreendimentos/bg_contato.jpg) center no-repeat;
				background-size: cover;
				padding:145px 0;
				h1{
					font-weight: 100;
					color:white;
					letter-spacing: -3px;
					font-size: 56px;
					margin-bottom:20px;
				}
				h2{
					color:color(meadow);
					font-size: 16px;
					letter-spacing: 0;
					font-weight: 400;
					width: 330px;
					line-height: 23px;
				}

				.field-group{
					.placeholder{
						font-size: 11px;
					}
				}

				.form-submit{
					float: right;
					button{
						text-transform: uppercase;
						border-radius: 60px;
						padding: 24px 52px 24px 29px;
						font-size: 10px;
						letter-spacing: 1px;
					}
				}
			}

