.first-post{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color:white;
	padding: 0 18px 23px 37px;
	min-height: 386px;
	height: auto;
	display: flex;
	align-items: flex-end;
	transition:all 0.6s ease;

	svg {
		transition:all 0.6s ease;
		fill: none;
		stroke: white;
		stroke-width: 1px;
		fill-rule: evenodd;
		margin-left: 30px;
		position: relative;
		z-index: 9;
		opacity: 0;
	}

	.first-post_cont{
		position: relative;
		z-index: 2;
		width: 91%;

		h1{
			margin-bottom: 21px;
			font-size: 24px;
			font-weight: 500;
			width: 251px;
			line-height: 31px;
		}

		.resume{
			font-family: 'Graphik';
			font-size: 14px;
			line-height: 21px;
		}
	}


	.gradient{
		transition:all 0.6s ease;
		position: absolute;
		top: 0;
		left:0;
		bottom:0;
		right: 0;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0 , #15af97  100%);
		opacity: 0;
		z-index: 1;
	}

	&:hover{
		box-shadow: 2px 7px 66px 1px rgba(0,0,0,0.25);
		.gradient{
			opacity: 1;
		}
		svg{
			opacity: 1;
		}
	}
}
.others-posts{
	display: flex;
	align-content:center;
	min-height: 184px;
	position: relative;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;

	.left{
		position: relative;
		height: 184px;

		width: 270px;
		.gradient{
			transition:all 0.6s ease;
			position: absolute;
			top: 0;
			left:0;
			bottom:0;
			right: 0;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0 , #15af97  100%);
			opacity: 0;
			z-index: 1;
		}
	}
	.right{
		padding:0 0 0 30px;
	}
	img{
		width: 270px;
		height: 184px;
		object-fit: cover;
	}
	h1{
		transition:all 0.6s ease;
		color:color(meadow);
		font-weight: 600;
		font-size: 18px;
		letter-spacing: -1px;
		margin-bottom: 20px;
	}
	.resume{
		font-size: 14px;
		line-height: 21px;
	}

	&:hover{
		h1{
			color:color(allports);
		}
		.gradient{
			opacity: 1;
		}
	}
}

.section-blog_interna{
	
	margin-top: 60px;

	h1{letter-spacing: 0px;}
	


	.container-others-posts{
		
		margin: 70px 0 80px ;
		
	}

	
	.pagination{
		margin-bottom: 100px;
		ul{
			display: flex;
			justify-content:center;
		}
		li{
			margin-right: 15px;
			a{
				color:#ccc;
				font-size: 14px;
				font-weight: 500;

				&:hover{
					color: color(meadow);
				}
			}

			&.active{
				a{
					color: color(meadow);
				}

			}
		}
	}

	// interna

	.blog-header{
		h1{
			font-size: 30px;
			font-weight: 600;
		}
		.date_blog{
			color:#b2b2b1;
			font-size: 14px;
			font-weight: 300;
			margin-top: 24px;
		}
	}

	.blog-img{
		position: relative;
		height: 385px;
		margin-top: 50px;
		overflow: hidden;

		
		.background{
			transition:all 0.6s ease;
			img{
				height: 100%;
				object-fit: cover;
			}
		}
		&:hover{
			.background{
				transform:scale(1.1);
			}
		}
	}
	.text-blog{
		font-size: 14px;
		margin-top: 50px;
		margin-bottom: 140px;
	}


	
	.container-other_single{
		background: #e6e6e6;
		padding:60px 0 140px;

		.title_other{
			font-weight: 500;
			font-size: 18px;
			letter-spacing: 0;
		}

		.others-posts{
			background: white;
			margin-top: 60px;
		}
	}



}