.slide{
	height: 100vh;

	.container_slide {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.item{
			
			&.active{
				opacity: 1;
				visibility: 1;
				h1{
					opacity: 1;
					visibility: 1;
					transition:opacity 0.3s ease 0.8s;
				}
				h2{
					opacity: 1;
					visibility: 1;
					transition:opacity 0.3s ease 1s;
				}
				.block-image{
					opacity: 1;
					visibility: 1;
					transition:inherit ;
				}
			}

			h1, h2{
				opacity: 0;
				visibility: 0;
				transition:opacity 0.8s ease;
			}
			.block-image{
				opacity: 0;
				visibility: 0;
			}
		}
	}

	.block_left-slider {
		background: color(allports);
		color: #fff;
		height: 100vh;
		width: calc(100vw - 260px );
		clip-path: polygon(0 0,95% 0,73% 96%,0 96%);

		&::before {
			content:"";
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(to bottom,rgba(0, 98, 174, 0.11) 0,#159baf 100%);
			height: 100%;
		}

	}

	.block-content {
		color:white;
		position: absolute;
		left: 50%;
		transform: translate(-68%,-43%);
		top: 50%;
		z-index: 9;
		h1 {
			font-size: 62px;
			font-weight: 100;
			strong{
				font-weight: 200;
				font-size: 66px;
				letter-spacing: 0px;
			}
		}
		h2{
			font-size: 71px;
			font-weight: 100;
			margin:60px 0;
			strong{
				font-weight: 200;
			}
		}
	}

	.block_right-slider {
		position: absolute;
		right: 0;
		top: 0;
		height: calc(100vh - 80px);
		overflow: hidden;
		clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);

		.block-image{
			height: 100vh;
			width: 100vh;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.slide-arrows {
		position: absolute;
		top: 50%;
		width: 100%;

		a {
			display: inline-block;
			&.arrow-left {
				transform:rotate(180deg);
				left: 2vw;
				position: absolute;
			}
			&.arrow-right {
				right: 2vw;
				position: absolute;
			}
		}
		.dots{
			position: absolute;
			left: 50%;
			bottom: 50%;
			transform: translate(100%,30vh);
			display: flex;
			justify-content: space-between;
			z-index: 99;
			.item {
				margin-right: 24px;
				border:1px solid color(tuatara);
				padding: 7px 12px;
				border-radius: 50%;
				cursor: pointer;
				&.active{
					border-color: white;
				}
			}
		}
	}
}