

.section-about_inter{
	.text-about{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-top: 100px;
		.left, .right{
			width: 472px;
		}
	}
}

.section-dif{
	position: relative;
	margin-top: 140px;
	.clip{
		position: absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
		clip-path: polygon(calc(100% - 220px) 0,100% calc(100% - 500px),100% 100%,220px 100%,0 500px,0 0);
		background-image: linear-gradient(to top, #159baf 0% , #0062ae  100%);
		z-index: -1;
	}
	h1{
		letter-spacing: 0;
		color:white;
		font-size: 48px;
		width: 300px;
		padding-top: 160px;
		padding-bottom: 180px;
	}
	.container-dif{
		.row_item{
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			height: 230px;
			color:white;
			text-align: center;
			position: relative;
			margin-bottom: -54px;
			.space , .items{
				width: 381px;
			}
			.items{
				p{
					font-size: 13px;
					font-family: Graphik;
					font-weight: 200;
					letter-spacing: 1px;
				}
			}
			.mid{
				border: 1px solid #00233d;
				border-radius: 50%;
				padding: 12px 15px;
				font-size: 12px;
				position: relative;
				&:after{
					content: '';
					width: 1px;
					background: #00233d;
					height: 138px;
					position: absolute;
					top: 37px;

				}
			}
			&:nth-child(even){
				.items{
					order:3;
				}
				.mid{
					order:2;
				}
				.space{
					order:1;
				}
			}
			.title_items{
				margin-bottom: 20px;
				font-weight: 600;
				letter-spacing: 1px;
				img{
					margin: 0 auto 20px;
					display: block;
				}
			}
			&:nth-child(5){
				margin-top: 42px;
				position: relative;
				.items{
					position: absolute;
					left: 50%;
					transform: translate(-50%,30%);
				}
				.mid{
					position: absolute;
					left: 50%;
					transform: translate(-50%,50%);
					&:after{
						content: '';
						width: 1px;
						background: #00233d;
						height: 0;
						position: absolute;
						top: 37px;

					}
				}
				.space{
					order:3;
				}
			}
		}	
	}
	.btn-about{
		margin: 180px 0 0;
		padding-bottom: 170px;
	}
	
	.shadow_top{
		filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.57));
		position:absolute;
		right: 0;
		top: 0;
		top: -114px;
		.top-img{
			clip-path: polygon(100% 0,100% calc(100% - 500px),100% 100%,175px 100%,345px 0);
		}
	}	

	.shadow_bottom{
		filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.57));
		position:absolute;
		left: -194px;
		bottom: 100px;
		.bottom-img{
			clip-path: polygon(calc(100% - 130px) 0,528px 100%,100% 100%,0 100%,0 0);
		}
	}	
	
}

.btn-know{
	margin: 90px 0;
	line-height: 16px;
	padding: 14px 25px;
	text-align: left;
	font-size: 10px;
	letter-spacing: 1px;
}