footer{
	background: color(blue);
	position: relative;
	color:white;
	margin-top: 80px;
	padding: 62px 0;
	
	h2{
		margin-bottom: 20px;
		font-family: $mono;
		font-family: 'Roboto Mono', monospace;
		font-weight: 700;
	}
	h3{
		font-size: 20px;
		margin-bottom: 10px;
		font-family: $mono;
		font-family: 'Roboto Mono', monospace;
		font-weight: 700;
	}
	p{
		line-height: 1.5;
	}
	input{
		width: 44%;
		margin-right: 26px;
		padding: 8px 14px;
		border-radius: 30px;
		float: left;
		margin-bottom: 10px;
		border:2px solid white;
		@include breakpoint(xs) {
			width: 100%;
		}

	}
	.quem{
		img{
			margin-right: 10px;
		}
		@include breakpoint(xs) {
			margin-bottom: 30px;
		}
	}
	.local{
		display: flex;
		margin-top: 40px;
		@include breakpoint(xs) {
			display: inline-block;
		}
		h3{
			text-transform: uppercase;
		}
		.local_{
			margin-right: 20px;
			@include breakpoint(xs) {
				width: 100%;
			}
		}
		.cont{
			@include breakpoint(xs) {
				width: 100%;
			}
			a{
				color:white;
			}
		}
	}
	.form-oth{
		input{
			width: 27.7%;
			&[type="submit"]{
				border:2px solid white;
				background: url(../img/enviar.png) no-repeat 90%;
				color:white;
				text-align: left;
				@include breakpoint(xs) {
					text-align: center;
				}
			}
			@include breakpoint(xs) {
				width: 100%;
			}
		}
	}
	.background-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		right: 0;
		display: flex;
		.left{
			clip-path: polygon(40px 0,100% 0,calc(100% - 100px) 100%,0 100%,0 0);
			background-image: linear-gradient(to top, #159baf 0% , #0062ae  100%);
			width: calc(50% - 300px);
			position: absolute;
			left: 0;
			top: -46px;
			bottom: 0;
			z-index: 2;
		}
		.right{
			background:color(tuatara);
			width: calc(73% - -103px);
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
	.container-footer{

		position:relative;
		grid-template-columns: repeat(4,268px);
		grid-column-gap: 10px;
		display: grid;
		color: white;
		padding:80px 0;
		z-index: 3;
		.logo-soc{
			margin-top: -70px;
			.social{
				margin-top: 100px;
				a{
					display: inline-block;
					&:first-child{
						margin-right: 20px;
						margin-left: 20px;
					}
				}
			}
		}
		.title{
			background:url(../assets/images/icons_contact.png) no-repeat;
			text-transform: uppercase;
			color:color(meadow);
			font-weight: 600;
			font-size: 13px;
			padding: 5px 0 22px 41px;
		}
		.local{
			font-size: 12px;
			.addr{
				font-family: 'Graphik';
				line-height: 23px;
				padding-left: 16px;
			}
		}
		.fale{
			position:relative;
			.title{
				background-position: 0px -42px;
			}
			.phone{
				font-family: 'Graphik';
				font-size: 30px;
				position: relative;
				font-weight: 100;
				margin: 15px 0 0;
				padding: 0 0 0 16px;
				display: flex;
				align-items: flex-start;
				span{
					font-size: 18px;
					margin: 2px 5px 0 0;
					font-family: 'Graphik';

				}
			}
			.mail{
				color:white;
				font-size: 12px;
				margin-top: 20px;
				display: block;
				padding:0 0 0 16px;
			}
		}

		.register{
			.title{
				background-position: 0px -86px;
			}
			.form {
				margin: 10px 0 0;
				padding: 0;
				display: flex;
				align-items: flex-start;
				padding:0 0 0 16px;
				.field-group {
					position: relative;
					width: 270px;
					margin: 0;
					padding: 0;
					border-bottom: 0;
					.placeholder{
						color:#999999;
						font-size: 12px;
						text-transform: none;
						top: 20px;
						left:20px;
					}
					input{
						background-color: white;
						color: #000;
						font-size: 14px;
						font-weight: 400;
						width: 100%;
						outline: 0;
						border-radius: 6px;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						border: 1px solid white;
						padding: 20px 10px;
						.placeholder{
							color: #fff;
							font-size: 14px;
							font-weight: 400;
							position: absolute;
							top: 0;
							left: 0;
							opacity: .2;
							transition: opacity .6s,transform .6s;
						}
					}
					&.focus,
					&.not-empty {
						.placeholder {
							font-size: 12px;
							opacity: 0;
						}
					}
					&.invalid{
						input{
							border-radius: 6px;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							border: 1px solid red;
						}
					}
				}
				button {

					margin: 0;
					padding: 0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					border-radius: 10px;

					span {
						background-image: linear-gradient(to right, #159baf 0% , #0062ae  100%);
						color: #fff;
						font-size: 7px;
						display: inline-block;
						text-transform: uppercase;
						padding: 0;
						white-space: nowrap;
						padding: 24px 26px 23px;
						width: 100%;
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
					}
					&:hover{
						span{
							background-image: linear-gradient(to left, #159baf 0% , #0062ae  100%);
						}
					}
				}
			}
		}
		
	}
}


.sub_f{
	background: #151515;
	padding: 20px 0;
	color:white;
	font-family: $mono;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	a{
		color: white;
		display: block;
		margin-top: 20px;
		@include breakpoint(xs) {
			
			text-align: center;
		}
	}
	.app_footer{
		text-align: center;
		img{
			@include breakpoint(xs) {
				display: block;
				margin: 20px auto;
				text-align: center;
			}
		}
	}
}