/** @import: Vendor. */
@import "../vendor/normalize/normalize.css";
@import "../vendor/bootstrap/bootstrap-grid.min.css";


/** @import: Main. */
@import "reset";
@import "vars";
@import "fonts";



/** Body. */
body {
	font-size: 18px;
	color:color(dark);
	font-family: $roboto;
	font-weight: 400;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:grayscale;

}

.con{
	position: absolute;
	bottom: -42px;
	left: 9%;
	@include breakpoint(xs) {
		display: none;
	}
}

p{
	@include breakpoint(xs) {
		line-height: 1.4;
	}
}

/** Layout. */
// .container {
// 	width: calc(100% - 200px);
// 	max-width: 1200px;
// 	margin: 0 auto;
// }

/** General. */

h1{
	font-family: $mono;
	font-family: 'Roboto Mono', monospace;
	font-size: 48px;
	font-weight: 700;
	@include breakpoint(xs) {
		font-size: 35px;
	}
}
h2{font-family: $mono;font-family: 'Roboto Mono', monospace;}
header{
	transition: all 0.4s ease;
	padding: 60px 0;
	@include breakpoint(xs) {
		padding: 20px 0;
	}
	img{
		margin-right: 20px;
	}
	&.menu_fix{

		background: white;
		border-bottom: 1px solid color(gray);
		width: 100%;
		position: fixed;
		z-index: 12;
		padding: 0;
		#menu{
			padding: 30px 0;
			@include breakpoint(xs) {
				padding: 0px 0;
				margin: 0 0 10px;
			}
			li{
				a{
					color:color(blue);

				}
				&.fale{
					a{
						background: color(blue);
						color:white;
					}
				}
			}
		}
		.hidden_fixed{
			display: none;
		}
		.s_fixed{
			display: block;
			margin-top: 30px;
		}
	}
	.s_fixed{
		display: none;
	}
}
#menu{
	display: flex;
	@include breakpoint(xs) {
		margin: 24px 0;
	}
	li{
		display: inline-block;
		margin-left: 30px;
		@include breakpoint(xs) {
			margin-left: 14px;
		}
		a{
			font-family: $mono;
			font-family: 'Roboto Mono', monospace;
			color:white;
			text-transform: uppercase;
			font-weight: 700;
			@include breakpoint(xs) {
				font-size: 14px;
			}
		}
		&.fale{
			// display: none;
			a{
				color:color(blue);
				background: white;
				padding:20px;
				display: inline-block;
				border-radius: 50px;
			}
		}
	}
}

section{
	position: relative;
	&#db01{
		background:color(blue);
		color:white;
		height: 615px;
		// padding: 285px 0 0;
		.phone{
			position: relative;
			@include breakpoint(xs) {
				display: none;
			}
			&:after{
				content: '';
				position: absolute;
				background: white;
				width: 450px;
				height: 450px;
				border-radius: 50%;
				top: 80px;
				left: 50px;
			}
			img{
				width: 100%;
				position: absolute;
				z-index: 2;
			}
		}
		h1{
			margin-bottom: 2px;
			
			
		}
		h2{
			display: block;
			font-size: 30px;
			font-family: $mono;
			font-weight: 700;
			font-family: 'Roboto Mono', monospace;
			margin-bottom: 20px;
			@include breakpoint(xs) {
				margin-bottom: 27px;
			}
		}
		.text-db{
			padding-top: 80px;
			.aps{
				margin-top: 30px;
			}
			p{
				line-height: 1.6;
			}
		}

	}

	&#db02{
		padding: 130px 0 0;
		h1{
			color:color(blue);
		}
		h2{
			text-transform: uppercase;
			color:color(gray);
			font-size: 24px;
			margin: 10px 0 20px;
			font-family: $mono;
			font-family: 'Roboto Mono', monospace;
			font-weight: 700;
			letter-spacing: 2px;
		}
		.slide-itens{
			margin-top: 50px;
			.list_item{
				min-height: 230px;
			}
			.item{
				// position: relative;
				.number{
					font-family: $mono;
					font-family: 'Roboto Mono', monospace;
					font-weight: 700;
					position: absolute;
					top: -16px;
					left: 106%;
					font-size: 72px;
					color:color(gray_l);
					z-index: 1;
					transition: all 0.4s ease;
					@include breakpoint(xs) {
						display: none;
					}
					&.num_2{
						top: -13px;
					}
					&.num_0{
						top: -30px;
					}
				}
				.icon{
					background: color(gray_l);
					float: left;
					border-radius: 100%;
					padding: 20px;
					margin-top: 22px;
					position: relative;
					width: 95px;
					height: 95px;
					transition: all 0.4s ease;
					@include breakpoint(xs) {
						margin-left: 34vw;
					}

				}
				&.active{
					.icon{
						background:color(blue);
					}
					.number{
						color:#d4def5;
					}
				}

			}
			.list_item {
				.col-md-8{
					@include breakpoint(xs) {
						padding: 0;
						margin: 0;
					}
				}
				.text_slide{
					float: left;
					width: 450px;
					font-size: 16px;
					margin-left: 20px;
					position: relative;
					z-index: 2;
					@include breakpoint(xs) {
						width: 100%;
						text-align: center;
						margin-left: 0;
					}
				}	
			}
			.text_slide {
				p{
					line-height: 26px;
				}
			}
			
		}

		.device{
			background: url(../img/device.png) 0 0 no-repeat;
			width: 370px;
			height: 786px;
			position: absolute;
			right: 34px;
			top: -30%;
			@include breakpoint(xs) {
				display: none;
			}
			&.item{
				opacity: 0;
				transition: all 0.4s ease;

				&.active{
					opacity: 1;
					transition: all 0.4s ease;
				}
			}
			img{
				margin: 3px 0 0 8px;
			}
		}
		.dots{
			position: absolute;
			right: 9%;
			bottom: 17%;;
			z-index: 9;
			.item{
				float: left;
				display: inline-block;
				margin-right: 40px;
				font-family: $mono;
				font-family: 'Roboto Mono', monospace;
				font-weight: 700;
				font-size: 24px;
				button{
					padding:0 4px 4px;
					color:color(gray);
				}
				&.active{
					button{
						color:color(blue);
						border-bottom: 2px solid color(blue);
					}
				}
			}
		}
		.slide-arrows{

			@include breakpoint(xs) {
				display: none;
			}
			// right: 0;
			.arrow-left{
				z-index: 10;

				position: absolute;
				left: 61%;
				top: 30%;
			}
			.arrow-right{

				z-index: 10;
				position: absolute;
				right: 0%;
				top: 30%;
			}
		}

		.t_0{
			margin-top: 26px;
		}
		.t_2{
			margin-top: 0;
		}
		
		.i_1{
			top:-40px;
			@include breakpoint(xs) {
				
				top: -13px;
			}
		}
		.i_2{
			top:-40px;
			@include breakpoint(xs) {
				
				top: -13px;
			}
		}
	}

	&#db03{
		margin-top: 0;
		.vid{
			background: url('../img/bg_video.png') 0 center no-repeat;
			position: relative;
			h2{
				font-size: 18px;
				text-transform: uppercase;
				color:color(blue);
				text-align: center;
				font-family: $mono;
				font-family: 'Roboto Mono', monospace;
				font-weight: 700;
				padding-top: 94px;
				&:after{
					content: '';
					background: url(../img/arrow.gif) center no-repeat;
					width: 50px;
					height: 50px;
					display: block;
					position: absolute;
					top: 19%;
					left: 50%;
					transform: translate(-50%, 10px);

				}
			}
			iframe{
				width: 100%;
				padding-top: 113px;
			}
		}
	}
}




/** @import: Globals. */
@import "globals/footer";
@import "globals/header";




/** @import: Modals. */
// @import "modals/{{modal_name}}";

/** @import: Sections. */
// @import "sections/{{section_name}}";

/** @import: Pages. */


/** @import: Pages [Mobile]. */
// @import "pages/mobile/{{page_name}}";
